/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #dadce8;
  color: #333333;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.preloadSource {
  display: none;
}
.sleeve {
  max-width: 1024px;
  margin: 0 auto;
}
.hList > * {
  display: inline-block;
  vertical-align: top;
}
.hList_spaced > * {
  margin-left: 16px;
}
.hList_spacedSm > * {
  margin-left: 8px;
}
.hList_spaced > *:first-child,
.hList_spacedSm > *:first-child {
  margin-left: 0;
}
.media {
  overflow: hidden;
}
.media-img {
  float: left;
  margin-right: 16px;
}
.media-bd {
  overflow: hidden;
}
.media_vCenter {
  display: table;
}
.media_vCenter > .media-img,
.media_vCenter > .media-bd {
  display: table-cell;
}
.media_vCenter > .media-bd {
  vertical-align: middle;
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  margin-bottom: -128px;
}
.wrap:after {
  content: '';
  display: block;
  padding-bottom: 128px;
}
.footer {
  background-color: #41527d;
  color: #8488a5;
  height: 128px;
}
.footer-bd-content {
  padding: 11px 0;
  max-height: 64px;
  line-height: 1.2;
  font-size: 18px;
  color: #9ba0c0;
}
.footer-bd-content a {
  color: #f9f9fb;
}
.skipNav {
  position: absolute;
  top: 0;
  right: 0;
}
.skipNav a {
  position: absolute;
  background-color: #1a1a1a;
  background-color: rgba(0, 0, 0, 0.4);
  color: #f9f9fb;
  top: -10000px;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
.skipNav a:focus {
  top: 0;
  padding: 8px 16px;
}
.skipNav a:after {
  content: ' [' attr(accesskey) ']';
}
.masthead {
  background-color: #41527d;
  color: #f9f9fb;
}
/**
 * With inner component, should equal @sizeBasic * 2
 */
.masthead-bd {
  padding: 16px 0;
}
.masthead-bd-logo {
  max-height: 32px;
}
.mainNav {
  background-color: #8488a5;
  max-height: 64px;
}
/**
 * Max size should be @sizeBasic
 * Size used is used for the hdg_2
 */
.mainNav-pages {
  padding: 6px 0;
}
/**
 * Max size should be @sizeBasic
 * @sizeMainNavSocial is used for the vecIco-small
 * Should house only vector icons
 */
.mainNav-social {
  padding: 6px 0;
  background-color: #f9f9fb;
  color: #1a1a1a;
}
.mainNav-social-ref {
  display: block;
}
.mainNav-social-ref:hover {
  -webkit-filter: grayscale(0.5);
  opacity: 0.5;
}
.article {
  display: block;
  line-height: 1.3;
  font-size: 16px;
}
.article > * {
  margin-bottom: 16px;
}
.content {
  font-size: 16px;
  margin: 16px 0;
}
.content-block {
  margin: 4px 0;
  line-height: 1.2;
}
.content-block-list {
  margin-left: 16px;
  list-style: disc outside;
}
.content-block li {
  line-height: 1.4;
}
.content-block a {
  color: #4d4d4d;
  font-weight: bold;
}
.hdg {
  display: block;
}
.hdg_1 {
  font-family: Menlo, Courier New, monospace;
  font-size: 32px;
  color: #f9f9fb;
}
.hdg_2 {
  font-size: 20px;
  color: #f9f9fb;
}
.hdg_3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.6;
}
.hdg_4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.vecIco {
  display: block;
}
.mix-vecIco_small {
  height: 20px;
}
.mix-vecIco_small.vecIco_twitter {
  width: 26px;
}
.mix-vecIco_small.vecIco_npm {
  width: 52px;
}
.mix-vecIco_small.vecIco_github {
  width: 21px;
}
.mix-vecIco_small.vecIco_codepen {
  width: 20px;
}
.mix-vecIco_small.vecIco_linkedin {
  width: 24px;
}
@media (max-width: 1055px) {
  .sleeve {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  /**
 * With inner component, should equal @sizeBasic * 2
 */
  .masthead-bd {
    padding: 20px 0;
  }
  .masthead-bd-logo {
    max-height: 40px;
    text-align: center;
  }
  /**
 * Max size should be @sizeBasic
 * Size used is used for the hdg_2
 */
  .mainNav-pages {
    padding: 8px 0;
  }
  .mix-hList_smallCentered {
    text-align: center;
  }
  .hdg_1 {
    font-size: 24px;
  }
  .hdg_2 {
    font-size: 16px;
  }
  .hdg_3 {
    font-size: 22px;
    font-weight: bold;
  }
  .content {
    font-size: 12px;
  }
  .footer-bd-content {
    padding: 18px 0;
    text-align: center;
    font-size: 9px;
    line-height: 1.6;
  }
}
