/**
 * With inner component, should equal @sizeBasic * 2
 */
.masthead-bd {
  padding: 20px 0;
}
.masthead-bd-logo {
  max-height: 40px;
  text-align: center;
}
/**
 * Max size should be @sizeBasic
 * Size used is used for the hdg_2
 */
.mainNav-pages {
  padding: 8px 0;
}
.mix-hList_smallCentered {
  text-align: center;
}
.hdg_1 {
  font-size: 24px;
}
.hdg_2 {
  font-size: 16px;
}
.hdg_3 {
  font-size: 24px;
  font-weight: bold;
}
.content {
  font-size: 12px;
}
.footer-bd-content {
  padding: 18px 0;
  text-align: center;
  font-size: 9px;
  line-height: 1.6;
}
