{{#extend "layout/base"}}
    {{#content "content"}}
<h1 class="hdg hdg_3">Content Not Found</h1>
    {{/content}}

    {{#extend "pieces/footer"}}
        {{#content "scripts"}}
        {{/content}}
    {{/extend}}
{{/extend}}