{{#def.include('~/_partials/header')}}

<div itemtype="http://schema.org/Person" itemscope itemref="footerContent"
    role="article">
    <div class="content-block">
        <div class="media media_vCenter">
            <div class="media-img">
                <img src="{{= it.settings.baseUrl}}media/img/8bit.png" alt="8-bit Profile" />
            </div>
            <div class="media-bd">
                <h2 class="hdg hdg_3">
                    About adam<span itemprop="alternateName">Renny</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="content-block">
        <ul class="content-block-list">
            <li title="Currently not seeking other opportunities">
                Web Client-Side <span itemprop="jobTitle">Software Engineer</span>
            </li>
            <li>Specialist in JavaScript and Computer Graphics</li>
            <li>Avid Gamer: <a href="http://gamefaqs.com" title="Greatest Video Game Resource" target="_blank">Video</a>, <a href="https://deckbox.org/users/adamRenny" title="Magic, the Gathering" target="_blank">Card</a>, and Board</li>
            <li>Mythology Enthusiast</li>
            <li>Loving Husband</li>
            <li>Proud <span itemprop="homeLocation">Minnesota</span>n</li>
            <li>Former Budoka of 
                <a href="http://www.seiryuukandojo.com/"
                    title="Minnesota Toyama Ryu Battojutsu"
                    target="_blank">Toyama Ryu Battojutsu</a>
            </li>
            <li>
                Alumni of 
                <a href="http://umn.edu"
                    title="University of Minnesota, Twin Cities"
                    target="_blank">
                    <span itemprop="alumniOf">University of Minnesota</span>
                </a>
            </li>
            <li>Not Currently Seeking Opportunities</li>
        </ul>
    </div>
</div>

{{#def.include('~/_partials/footer')}}