{{!-- Page Navigation --}}
<div class="mainNav-pages">
    <div class="sleeve">
        <ul class="hList mix-hList_smallCentered hList_spaced"><!--
         --><li>
            <a href="{{ route 'index' }}" class="hdg hdg_2">About</a>
        </li><!--
     --></ul>
    </div>
</div>
{{!-- End Page Navigation --}}