            </div>
        </div>
        <!-- End Main Content -->
    </div>
    <!-- End Main Container -->

    <!-- Footer -->
    <div class="footer" id="footer">
        <!-- Footer Navigation -->
        <div class="footer-nav" role="navigation">
            <div class="mainNav">
                {{#def.include('~/_partials/socialNav')}}
                
                {{#def.include('~/_partials/pageNav')}}
            </div>
        </div>
        <!-- End Footer Navigation -->

        <!-- Footer Copyright -->
        <div class="footer-bd"
            id="copyright" role="contentinfo">
            <div class="sleeve" id="footerContent">
                <h1 class="visuallyHidden">Code and Site Copyright</h1>
                <h2 class="visuallyHidden">Source Code License</h2>
                <p class="footer-bd-content">
                    <small>&copy; 2012 - 2014 <span itemprop="givenName">Adam</span> <span itemprop="familyName">Ranfelt</span>. All rights reserved.</small><br />
                    <small>All demo source code licensed under <a href="{{= it.settings.baseUrl}}license" title="Source Code License">MIT</a> unless noted otherwise.</small>
                </p>
            </div>
        </div>
        <!-- End Footer Copyright -->
    </div>
    <!-- End Footer -->
</body>
</html>