{{!-- Social Subnavigation --}}
<div class="mainNav-social">
    <div class="sleeve">
        <ul class="hList mix-hList_smallCentered hList_spacedSm"><!--
         --><li>
            <a href="https://github.com/adamRenny"
               title="Watch my Github repositories"
               class="mainNav-social-ref"
               target="_blank">
                <span class="visuallyHidden">Github</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     class="vecIco vecIco_github mix-vecIco_small">
                    <use xlink:href="#logo-github" />
                </svg>
            </a>
        </li><!--
         --><li>
            <a href="https://www.linkedin.com/in/adamrenny"
               title="Check out my LinkedIn"
               class="mainNav-social-ref"
               target="_blank">
                <span class="visuallyHidden">LinkedIn</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     class="vecIco vecIco_linkedin mix-vecIco_small">
                    <use xlink:href="#logo-linkedin" />
                </svg>
            </a>
        </li><!--
         --><li>
            <a href="https://www.npmjs.org/~adamrenny"
               title="Try my NPM packages"
               class="mainNav-social-ref"
               target="_blank">
                <span class="visuallyHidden">npm</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     class="vecIco vecIco_npm mix-vecIco_small">
                    <use xlink:href="#logo-npm" />
                </svg>
            </a>
        </li><!--
         --><li>
            <a href="https://twitter.com/AdamRenny"
               title="Follow me on Twitter"
               class="mainNav-social-ref"
               target="_blank">
                <span class="visuallyHidden">Twitter</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     class="vecIco vecIco_twitter mix-vecIco_small">
                    <use xlink:href="#logo-twitter" />
                </svg>
            </a>
        </li><!--
         --><li>
            <a href="http://codepen.io/adamRenny/"
               title="Check out my CodePens"
               class="mainNav-social-ref"
               target="_blank">
                <span class="visuallyHidden">CodePen</span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     class="vecIco vecIco_codepen mix-vecIco_small">
                    <use xlink:href="#logo-codepen" />
                </svg>
            </a>
        </li><!--
     --></ul>
    </div>
</div>
{{!-- End Social Subnavigation --}}